.logo {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 3%;
}

.sectionHead {
  font-family: "Sacramento", cursive;
  font-size: 45px;
  margin: 2%;
}

.aboutPage {
  margin: 50px 50px 50px 50px;
}

.aboutText {
  margin-left: 2%;
  margin-right: 2%;
}

.aboutRow {
  margin-bottom: 5%;
}

.aboutImg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 7%;
  transform: height 2s;
  -webkit-transform: width 2s;
}

.aboutImg:hover {
  box-shadow: 0px 5px  5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 5px  5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 5px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 0px 5px 5px  rgba(0,0,0,0.6);
  transform: translate(0px, -5px);

}

.aboutImg.sienna {
  height: 10rem;
  width: 10rem;
}

.aboutInfo {
  text-align: center;
  font-size: 10px;
  color: grey;
}

.aboutInfo.sienna {
  color: black;
}

.title {
  color: #273C75;
  margin-bottom: 5%;
}

.haunt {
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.wrapper.sienna {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 700px) {
  .wrapper.sienna {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .wrapper.sienna {
    grid-template-columns: 1fr;
  }
}
