.logo {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 3%;
}

.sectionHead {
  font-family: "Sacramento", cursive;
  font-size: 45px;
  margin: 2%;
}

.aboutPage {
  margin:50px 50px 0px 50px;
}

.aboutText {
  margin-left: 2%;
  margin-right: 2%;
}

.aboutRow {
  margin-bottom: 5%;
}

.aboutImg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 7%;
}

.aboutImg.sienna {
  height: 150px;
  width: 150px;
}

.aboutInfo {
  text-align: center;
  font-size: 10px;
  color: grey;
}

.aboutInfo.sienna {
  color: black;
}

.title {
  color: #273C75;
  margin-bottom: 5%;
}

.haunt {
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.wrapper.sienna {
  grid-template-columns: repeat(4, 1fr);
}

