body {
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 20px;
}

.home {
  background-image: url('https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a4deb7be2c7c79941884cdf35c1cee8e&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  opacity: 0.85;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 15%;
  grid-template-columns: minmax(200px, auto) 1fr;
}

.searchcol {
  width: 50%;
  min-width: 370px;
  margin: 0 auto;
  text-align: center;
}

.form-group {
  width: 100%;
}

.companyName {
  font-family: "Sacramento", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.companyDiv {
  display: block;
  text-align: center;
  margin: 1rem;
}

.nav {
  display: inline-block !important;
  text-align: right;
  width: 100%;
  margin-top: 10rem;
  line-height: 1.8;
  font-weight: bold;
  color: black;
}

.navItem {
  display: block;
  font-size: 2rem;
  padding-right: 10px;
  text-decoration: none;
  color: #282828;
}

.navItem:hover {
  text-decoration: none;
  color: #4b4b4c;
}

.navItemCont {
  padding: 0;
}

.navItem i {
  display: none;
  padding-right: 3px;
}

.navItem:hover i {
  display: inline-block;
  animation: horizontal 1s ease infinite;
}

.nav-list {
  list-style-type: none;
}

.overlay {
  margin: 0;
  height: 100%;
  top: 0;
  left: 0;
  width: 20%;
  min-width: 200px;
  background: rgba(255,255,255,.5);
}

.loader {
  border: 15px solid #f3f3f3; /* Light grey */
  border-top: 15px solid #708090; /* Slate grey */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: spin 1.5s linear infinite;
}

.loader.small {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #708090; /* Slate grey */
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes horizontal {
    0%   {margin-right:0;}
    50%  {margin-right:2%;}
    100% {margin-right:0;}
}

@media (max-width: 700px) {
  .home {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  .companyDiv {
    text-align: left;
  }

  .nav {
    margin-top: 0.5rem;
  }

  .nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .navItem {
    font-size: 0.8em;
  }

  .overlay {
    height: 30%;
    width: 100%;
  }

  .searchcol {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .alert-box {
    width: 370px;
  }
}