body {
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 18px;
}

/*MAIN COMPONENTS*/

/*== LANDING ===*/
.home {
  background-image: url('https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a4deb7be2c7c79941884cdf35c1cee8e&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  opacity: 0.85;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  /*grid-gap: 15%;*/
  grid-template-columns: minmax(250px, auto) 1fr;
}

.searchcol {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}

/*=== SIDE NAV ===*/

.overlay {
  margin: 0;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,.5);
}

.companyDiv {
  display: block;
  text-align: center;
  margin: 1rem;
  margin-top: 20%;
}

.companyName {
  font-family: "Sacramento", cursive;
  font-size: 3.2rem;
  font-weight: bold;
  text-decoration: none;
}

.nav {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-top: 40%;
  padding-right: 1rem;
  line-height: 1.8;
  font-weight: bold;
  color: black;
}

.navItem {
  display: block;
  font-size: 2rem;
  padding-right: 10px;
  text-decoration: none;
  color: #282828;
}

/*SEARCHBAR LANDING*/

.search-bar {
  text-align: center;
}

.form-group {
  display: inline-block;
  margin-top: 26%;
  width: 100%;
  margin-bottom: 1rem;
}

.search-input,
.search-input:focus,
.search-input:active {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4), 0 0 0 1px rgba(0,0,0,0.08);
  border: honeydew;
  width: 100%;
  padding: 14px;
  border-radius: 2px;
  outline: none;
}

.autocomplete-container {
  border: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
  text-align: left;
}
.spinner-container {
  margin: 1rem auto;
}

.spinner {
  color: #fff;
  font-size: 2.5rem;
}




/*=== NAVBAR (SMALLNAV) ===*/

.navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 2em;
}


/*PRODUCT SEARCH*/

.randomRenderTitle {
  color: #212529;
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  margin: 0.5em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productSearch {
  text-align: center;
  margin: 1em 0;
}


/*SMALL COMPONENTS*/

/*=== ALERTS ===*/
/*.alert-box {
  width: 40%;
  margin: 0 auto;
}*/

/*=== SEARCH CARDS ===*/

.cardColumn {
  margin-bottom: 20px;
}

.card-img-wrapper {
  position: relative;
  height: 210px;
  width: 320px;
}

.card-img-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity .2s, visibility .2s;
}

.card-img-wrapper:hover .card-img-text {
  visibility: visible;
  opacity: 1;
}

.cardImg {
  height: 210px;
  object-fit: cover;
  object-position: center center;
  width: 320px;
}

.details-text {
  font-size: 20px;
  top: 50%;
  position: relative;
}

.cardBody {
  padding: 10px;
}

.card-text {
  color: #2bb9a8;
  margin: 0;
}

.favorite-btn {
  text-align: right;
  position: relative;
  bottom: 20px;
  right: 20px;
}

.fa-heart, .far .fa-heart {
  font-size: 24px;
}

/*=== RATINGS ===*/

.ratings-text {
  color: #f38938;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  display: inline-block;
  font-size: 20px;
  height: 25px;
  width: 114px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
  color: #f38938;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

span {
  padding-right: 3px;
}











/*MEDIA QUERIES*/

.homeLogo {
  color: maroon;
}

.homeLogo:hover {
  color: steelblue;
  text-decoration: none;
}




.navItem:hover {
  text-decoration: none;
  color: #4b4b4c;
}

.navItemCont {
  padding: 0;
}

.navItem i {
  display: none;
  padding-right: 3px;
}

.navItem:hover i {
  display: inline-block;
  animation: horizontal 1s ease infinite;
}

.nav-list {
  list-style-type: none;
}



.loader {
  border: 15px solid #f3f3f3; /* Light grey */
  border-top: 15px solid #708090; /* Slate grey */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: spin 1.5s linear infinite;
}

.loader.small {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #708090; /* Slate grey */
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes horizontal {
    0%   {margin-right:0;}
    50%  {margin-right:2%;}
    100% {margin-right:0;}
}

@media (max-width: 700px) {
  .home {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  .companyDiv {
    text-align: left;
  }

  .nav {
    margin-top: 0.5rem;
  }

  .nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .navItem {
    font-size: 1em;
  }

  .overlay {
    height: 120px;
    width: 100%;
  }

  .searchcol {
    position: relative;
    top: 0;
    left: 0;
  }

  .search-input {
    height: 80px;
  }

  .alert-box {
    width: 370px;
  }
}