/*=== SEARCH CARDS ===*/

.cardColumn {
  display: inline-block;
  margin-bottom: 20px;
}

.card-img-wrapper {
  position: relative;
  height: 210px;
  width: 320px;
}

.card-img-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity .2s, visibility .2s;
}

.card-img-wrapper:hover .card-img-text {
  visibility: visible;
  opacity: 1;
}

.cardImg {
  height: 210px;
  object-fit: cover;
  object-position: center center;
  width: 320px;
}

.details-text {
  font-size: 20px;
  top: 50%;
  position: relative;
}

.cardBody {
  padding: 10px;
}

/*=== RATINGS ===*/
.ratings-text {
  color: #e7711b;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  display: inline-block;
  font-size: 20px;
  height: 25px;
  width: 114px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

  .star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }

  span {
    padding-right: 3px;
  }


/*=== BUSINESS DETAIL ===*/
.bizTitle {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: .5em;
  position: absolute;
  top: 15%;
  width: 100%;
  color: black;
  opacity: 70%;
}

.bizBody {
  width: 85%;
  background-color: #292B2C;
  color: white;
  padding: 15px;
  margin-top: 100px;
  display: inline-block;
}

.bodyText {
  margin-bottom: 20px;
  font-size: 20px;
}

.hoursText {
  font-size: 16px;
  margin-bottom: 10px;
}

.slider {
  margin-top: 150px;
  margin-left: 45%;
  width: 600px;
  height: 500px;
  text-align: right;
  position: absolute;
}

.carouselItem {
  height: 500px;
  width: auto;
  max-width: 600px;
  margin: auto;
}







