


/*=== BUSINESS DETAIL ===*/

.bizContainer {
  /*width: 85%;*/
  margin-left: 350px;
}

.bizTitle {
  margin-top: 75px;
  padding-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: .5em;
  /*position: absolute;*/
  top: 15%;
  width: 100%;
  color: black;
  opacity: 70%;
}

.contact {
  /*width: 35%;*/
  margin: 2px;
  margin-top: 10px;
  padding-top: 5px;
  padding-right: 4%;
  display: block;
}

.ratings {
  width: 25%;
  display: inline;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
}

h5 {
  width: 35%;
  display: inline;
}

.address {
  margin-left: 2px;
}

.phone {
  margin-left: 2.5rem;
  margin-right: 2.6rem;
}

.mainRow {
  margin-top: 15px;
  width: 500px;
  color: #292B2C;
  font-size: 1.5rem;
  display: inline-block;
}

.bizBody {
  width: 300px;
  color: #292B2C;
  padding: 15px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
}

.bodyText {
  margin-bottom: 20px;
  font-size: 20px;
}

.hoursText {
  font-size: 16px;
  margin-bottom: 10px;
}

.slider {
  background-color: salmon;
  display: inline;
  width: 500px;
}

.carousel {
  width: 500px;
}

.carouselItem {
  height: 500px;
  width: auto;
  max-width: 600px;
  display: inline;
}

.googleMap {
  height: 196px;
  width: 300px;
}

@media (max-width: 767px) {
  .container {
    margin: 0 15px;
  }
}




