/*=== SEARCH CARDS ===*/

.cardColumn {
  margin-bottom: 20px;
}

.card-img-wrapper {
  position: relative;
  height: 210px;
  width: 320px;
}

.card-img-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity .2s, visibility .2s;
}

.card-img-wrapper:hover .card-img-text {
  visibility: visible;
  opacity: 1;
}

.cardImg {
  height: 210px;
  object-fit: cover;
  object-position: center center;
  width: 320px;
}

.details-text {
  font-size: 20px;
  top: 50%;
  position: relative;
}

.cardBody {
  padding: 10px;
}

.card-text {
  margin: 0;
}

.favorite-btn {
  text-align: right;
  position: relative;
  bottom: 20px;
  right: 20px;
}

.fa-heart, .far .fa-heart {
  font-size: 24px;
}

/*=== RATINGS ===*/
.ratings-text {
  color: #e7711b;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  display: inline-block;
  font-size: 20px;
  height: 25px;
  width: 114px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

span {
  padding-right: 3px;
}


/*=== BUSINESS DETAIL ===*/

.bizContainer {
  /*width: 85%;*/
  margin-left: 375px;
}

.bizTitle {
  margin-top: 75px;
  padding-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: .5em;
  /*position: absolute;*/
  top: 15%;
  width: 100%;
  color: black;
  opacity: 70%;
}

.contact {
  /*width: 35%;*/
  margin: 2px;
  margin-top: 10px;
  padding-top: 5px;
  padding-right: 4%;
  display: block;
}

.ratings {
  width: 25%;
  display: inline;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
}

h5 {
  width: 35%;
  display: inline;
}

.address {
  margin-left: 2px;
}

.phone {
  margin-left: 2.5rem;
  margin-right: 2.6rem;
}

.mainRow {
  margin-top: 15px;
  width: 500px;
  color: #292B2C;
  font-size: 1.5rem;
  display: inline-block;
}

.bizBody {
  width: 300px;
  color: #292B2C;
  padding: 15px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
}

.bodyText {
  margin-bottom: 20px;
  font-size: 20px;
}

.hoursText {
  font-size: 16px;
  margin-bottom: 10px;
}

.slider {
  background-color: salmon;
  display: inline;
  width: 500px;
}

.carousel {
  width: 500px;
}

.carouselItem {
  height: 500px;
  width: auto;
  max-width: 600px;
  display: inline;
}

.googleMap {
  height: 196px;
  width: 300px;
}

@media (max-width: 767px) {
  .container {
    margin: 0 15px;
  }
}




