.login {
  background-image: url("https://s3-media3.fl.yelpcdn.com/bphoto/1cKsRopl7P3TQa36p4Do5g/o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  opacity: 0.85;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.loginForm {
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.welcomeBack {
  margin-bottom: 5%;
}

.loginLogo {
  margin-top: 30px;
  margin-left: 40px;
}

.imgCaption {
  color: white;
  top: 88%;
  margin-left: 40px;
  position: fixed;
}

.captionLocation {
  font-style: italic;
}