.productSearch {
  margin: 20px;
  text-align: center;
}

.randomRenderTitle {
  color: #212529;
}

.productButton {
 height: 36px;
 border-top-left-radius: 10%;
 border-bottom-left-radius: 10%;
}

.alert-box {
  width: 30%;
  margin: 1.2rem auto;
}

