.productSearch {
  text-align: center;
  margin-top: 30px;
}

.randomRenderTitle {
  color: #212529;
  font-family: "Sacramento";
  font-size: 60px;
  margin: 20px 0;
}


.alert-box {
  width: 30%;
  margin: 1.2rem auto;
}

