
.searchbar {
  text-align: center;
  position: fixed;
  z-index: 0;
}
.form-group {
  display: inline-block;
  margin-top: 30%;
  width: 40%;
}

.search-input,
.search-input:focus,
.search-input:active {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4), 0 0 0 1px rgba(0,0,0,0.08);
  border: honeydew;
  display: block;
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border-radius: 2px;
  outline: none;
}

.autocomplete-container {
  border: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
  text-align: left;
}
.spinner-container {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.spinner {
  color: #224b67;
  font-size: 30px;
}

.alert-box {
  width: 40%;
  margin: 0 auto;
}