.signup {
/*  background-color: rgba(98,88,124,0.2);*/
  background-image: url("https://s3-media4.fl.yelpcdn.com/bphoto/yjhX50qMuv1JqWVamjmg-Q/o.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
  position: fixed;
  opacity: 0.85;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.signupForm {
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.joinMovement {
  margin-bottom: 5%;
}

.loginLogo {
  margin-top: 30px;
  margin-left: 40px;
}

.imgCaption {
  color: white;
  top: 88%;
  margin-left: 40px;
  position: fixed;
}