.home {
  font-family: "arial";
  background-image: url('https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a4deb7be2c7c79941884cdf35c1cee8e&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  opacity: 0.85;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav {
  display: inline-block !important;
  text-align: right;
  width: 320px;
  margin-top: 190px;
  line-height: 1.8;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.navItem {
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #273C75;
  opacity: 0%;
}

.navItem:hover {
  text-decoration: none;
  letter-spacing: 0.5em;
  color: black;
  opacity: 0%;
}

.nav-list {
  list-style-type: none;
}

.overlay {
  position: fixed;
  margin: 0;
  height: 2000px;
  top: 0;
  left: 0;
  width: 326px;
  background: rgba(255,255,255,.5);
}

.live-well {
  position: fixed;
  text-align: right;
  bottom: 100px;
  width: 320px;
  font-size: 40px;
}

.shop-local {
  position: fixed;
  text-align: left;
  bottom: 60px;
  left: 330px;
  font-size: 40px;
  color: white;
}

.loader {
  border: 15px solid #f3f3f3; /* Light grey */
  border-top: 15px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
