.cardColumn {
  display: inline-block;
  margin-bottom: 10px;
}

.cardImg {
  height: 25vw;
  object-fit: cover;
}

.cardBody {
  padding: 5%;
  height: 160px;
}

.cardTitle {
  color: #273C75;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bizTitle {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: .5em;
  position: absolute;
  top: 5%;
  width: 100%;
  color: black;
  opacity: 70%;
  margin-left: 20px;
}

.bizBody {
  width: 85%;
  background-color: #212529;
  color: white;
  padding: 15px;
  margin-top: 100px;
  display: inline-block;
}

.bizPic {
  height: 25vw;
  object-fit: cover;
  margin: 60%;
}










